<html>
<head>
	<title>Project 381 - Powered by Chan Pui Yu & Fu Chi Hang</title>
</head>
<body>
	<h1>Restaurants</h1>
	<h2>User: <%= username %></h2>
	<p>
		<a href="/api/logout">Logout</a>
		<a href="/">Home</a>
	</p>
	<!---->
	
	<h2>Showing <%= c.length %> Restaurants</H1>
	<p>
		<a href="/api/create">New Restaurant</a>
		<%= authorRights%>
	</p>
	
	
	<ol>
	<!--
	< c.forEach(function(cafe) { %>-->
		<li><a href="/api/read/<%= %>/<%= %>">.</a></li>
	</ol>
</body>
</html>