<html>
<head>
	<title>Project 381 - Powered by Chan Pui Yu & Fu Chi Hang</title>
</head>
<body>
	<h1>Restaurants</h1>
	<h2>User: Guest</h2>
	<p>
		<a href="<%= notPath %>"><%= notName%></a>
		<a href="/">Home</a>
	</p>
	<!---->
	
	<h2><%= title %></h2>
	<form action="<%= path %>" method="post">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
	<input type="submit" value="<%= title %>">
	</form>
</body>
</html>
