
<html>
<head>
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<header class="w3-container w3-teal">
  <h1>Restaurants</h1>
  
  <p>User: <%=userid%>  <a href="/api/logout">Logout</a> 
  <a href="/">Home</a></p>
  
  <p>Showing <%=c.length%> documents
  (criteria: <%=criteria%>)</p>
</header>
<div class="w3-container">
<button class="w3-btn"><a href="/api/create" style="text-decoration: none">New</a></button>
<ol>
  <%
  for(var x=0; x<c.length;x++){%>
  <li><a href="/api/display?_id=<%=c[x]._id%>"><%=c[x].name%></a></li>
  <%}
  %>
<ol
</div>
<br>
<div class="w3-container">
  <ul class="w3-ul w3-large">
  
  
  </ul>
</div>
<p>




</body>
</html>
