<html>
<head>
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<header class="w3-container w3-teal">
  <h1><%=c.name%></h1>

</header>
<div class="w3-container">
  <% if (c.data != null) { %>
  <p>
 <img src="data: <%=c.mimetype%>;base64,<%=c.data%>" alt="Restaurant" style="width:304px;height:228px;">
<% } %>
<br>
Borough: <%=c.borough%><br>
name: <%=c.name%><br>
cuisine: <%= c.cuisine%><br>
street: <%=c.address.street%><br>
building: <%=c.address.building%><br>
zipcode: <%=c.address.zipcode%><br>
gps:[<%=c.address.coord[0]%>,<%=c.address.coord[1]%>]         

<p>
<button class="w3-btn"><a href="/gmap.ejs" style="text-decoration: none">google map</a></button>
</div>
<br>
<div class="w3-container">
  <ul class="w3-ul w3-large">
  </ul>
</div>
<p>
</body>
</html>
